{% extends "auctions/layout.html" %}

{% block body %}

{% if win %}
<h1>You won!</h1>
{% endif %}

<h2>Listing: {{ listing.name }}</h2>
<img src="{{ listing.image }}" style="height: 300px">
<p>{{ listing.description }}</p>
<p>{{ price }}</p>
{% if not is_seller %}
    <form action="{% url 'place_bid' listing.id %}", method="post">
        {% csrf_token %}
        <input type="number" placeholder="Bid" name="buyer_bid" step=".01"> <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number -->
        <input type="submit" value="Place bid">
    </form>
{% endif %}
{% if is_seller %}
    <form action="{% url 'close_listing' listing.id %}", method="post">
        {% csrf_token %}
        <input type="submit" value="Close listing">
    </form>
{% endif %}
<p>Seller: {{ listing.seller }}</p>
{% if not watchlist %}
    <form action="{% url 'watchlist' %}", method="post">
        {% csrf_token %}
        <input type="text" value="{{ listing.id }}" name="id" style="display: none;">
        <input type="submit" value="add to watchlist" name="add">
    </form>
{% endif %}

{% if watchlist %}
    <form action="{% url 'watchlist' %}", method="post">
        {% csrf_token %}
        <input type="text" value="{{ listing.id }}" name="id" style="display: none;">
        <input type="submit" value="remove from watchlist" name="remove">
    </form>
{% endif %}

<h3>Comments</h3>
<div>
    <ul>
    {% for comment in comments %}
        <li>On {{ comment.date }} {{ comment.user }} said: {{ comment.comment }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <form action="{% url 'comment' listing.id %}", method="post">
        {% csrf_token %}
        <textarea name="comment" style="width:50%; height: 200px">Comment</textarea>
        <input type="submit" value="Post comment">
    </form>
</div>
{% endblock %}