{% extends "auctions/layout.html" %}

{% block body %}

<h2>Watchlist Listings</h2>

    {% for listing in listings %}
    <div style="border:1px solid black; margin: 10px">
        {% if listing.image %}
            <img src="{{ listing.image }}" style="height: 300px">
        {% endif %}
        <p><a href="{% url 'listing' listing.id %}">{{ listing.name }}</p></a>
        <p>Price: {{ listing.bid }}</p>
        {% if listing.description %}
            <p>{{ listing.description }}</p>
        {% endif %}
        {% if listing.category %}
            <p>{{ listing.category }}</p>
        {% endif %}
        <p>{{ listing.date }}</p>
    </div>
    {% endfor %}
{% endblock %}